@import "font-face";
@import "variables";

* {
  font-family: Vazir;
}

.farsi-digit {
  font-family: Vazir FD;
}

.rounded-4{
  border-radius: .75em;
}

.landing {
  & .carousel {
    & .cover {
      background-color: rgba($color: $dark, $alpha: 1);
      z-index: 1000;
    }
    & img {
      height: 650px !important;
      z-index: 999;
    }
    & .carousel-control-prev {
      & .control-btn {
        padding-right: 4px !important;
      }
    }
    & .carousel-control-next {
      & .control-btn {
        padding-left: 4px !important;
      }
    }
    & .control-btn {
      height: 40px;
      width: 40px;
      background-color: rgba($color: $dark, $alpha: 0.7);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.services {
  & .icon-wrapper{
    & div {
      height: 60px !important;
      width: 60px !important;
      & i {
        font-size: 36px;
      }
    }
  }
}